[run]
omit=
    # virtual environment
    ./ve/*
    # static files
    ./static/*
    ./staticfiles/*
    # python files
    */migrations/*
    ./manage.py
    ./core/settings/*

[report]
show_missing = True
skip_covered = True
